.\University\vkr\main.build
.\University\vkr\main.dist
.\University\vkr\venv
.\University\vkr\main.exe
.\University\vkr\activity_log.csv
.\University\vkr\current_plan.csv
.\University\vkr\plan1.csv
.\University\vkr\test.py
